.heading{
    margin: 0px;
    box-shadow: 5px 5px 5px aquamarine;
    width: 100%;
    font-size: 23px;
}
.note{
    font-size: 15px;
    color: black;
}
.footer_div{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: cadetblue;
    color: blue;
    line-height: 3;
}
canvas{
    border: 5px dotted aqua;
    border-radius: 20px;
    box-shadow: 5px 5px 5px aquamarine;
}